@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* 
Variables
*/

html[dark-mode='true'] {
  --background-colour: #0a1828;
  --primary-colour: #bfa181;
  --primary-colour-icon: invert(72%) sepia(13%) saturate(801%)
    hue-rotate(350deg) brightness(91%) contrast(86%);
  --secondary-colour: #178582;
  --secondary-colour-icon: invert(42%) sepia(68%) saturate(454%)
    hue-rotate(129deg) brightness(89%) contrast(98%);
  --postcard-shadow-dark-theme: rgba(255, 255, 255, 0.1) 0px 8px 24px,
    rgba(255, 255, 255, 0.1) 0px 16px 56px,
    rgba(255, 255, 255, 0.1) 0px 24px 80px;
}

html[dark-mode='false'] {
  --background-colour: #ddd0c8;
  --primary-colour: #323232;
  --primary-colour-icon: invert(16%) sepia(0%) saturate(0%) hue-rotate(199deg)
    brightness(100%) contrast(89%);
  --secondary-colour: #4f0341;
  --secondary-colour-icon: invert(3%) sepia(96%) saturate(5731%)
    hue-rotate(304deg) brightness(120%) contrast(99%);
  --postcard-shadow-dark-theme: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;

  .comment-avatar {
    background-color: var(--primary-colour);
    outline-color: var(--background-colour);
  }
}

/* 
Animations
*/

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-colour);
  color: var(--primary-colour);
  font-family: 'Work Sans', 'sans-serif';
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*:focus-visible {
  outline: 3px solid var(--secondary-colour);
}

body {
  display: flex;
  justify-content: center;
}

#root {
  display: grid;
  grid-template-rows: min-content auto min-content;
  place-items: center;
  min-height: 100svh;
  max-width: 1000px;
  padding: 1em;
}

header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  text-align: center;
  gap: 48px;
  height: 100px;

  a {
    text-underline-offset: 0.35em;
    text-decoration-color: var(--secondary-colour);
  }

  .app-name {
    font-size: 2rem;
  }

  span {
    font-size: 1.2rem;
    font-weight: 700;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  img {
    height: 32px;
  }
}

main {
  margin: 3em 0;

  .no-posts-message,
  .loading-message {
    text-align: center;
  }
}

.posts {
  display: grid;
  gap: 32px;

  a {
    text-decoration: none;
  }
}

.post-card {
  outline: 2px solid var(--secondary-colour);
  border-radius: 8px;
  padding: 1em;
  cursor: pointer;

  .title {
    font-weight: 600;
    padding: 0.5em 0;
  }

  .content {
    font-style: italic;
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.4;
  }

  .content,
  .author,
  .created-date {
    margin: 1em 0;
  }

  .author-name,
  .likes-count,
  .comments-count {
    font-weight: 700;
  }

  .likes-count,
  .comments-count {
    font-size: 1.2rem;
  }

  .likes-and-comments {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 2em;
  }

  div[class*='wrapper'] {
    display: flex;
    gap: 6px;
  }

  img {
    height: 24px;
    background-color: initial;
    filter: var(--primary-colour-icon);
  }
}

.post-wrapper {
  display: grid;
  gap: 48px;
}

.post-info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.like-post {
  button {
    height: 48px;
    border: none;
    animation: pulse 1s infinite ease-in alternate;
  }

  img {
    height: 48px;
    background-color: initial;
    filter: var(--primary-colour-icon);
    cursor: pointer;
  }
}

.post-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: right;

  span {
    font-style: italic;
  }
}

.post {
  display: grid;
  gap: 32px;
  font-weight: revert;
  font-style: revert;
  text-align: justify;
  font-size: 1.1rem;
  line-height: 1.5;

  .post-title {
    text-align: center;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: revert;
    font-weight: 600;
    text-align: start;
  }

  li {
    list-style-position: inside;
  }

  strong {
    font-weight: 600;
  }

  pre {
    font-family: 'Ubuntu Mono', monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: start;
  }
}

.comments {
  display: grid;
  gap: 32px;
  width: 700px;
  justify-self: center;

  .comments-heading {
    font-weight: 600;
    text-align: center;
  }
}

.comment {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  gap: 32px;
  place-items: center;
}

.comment-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  outline: 3px solid;
  height: 36px;
  width: 36px;
  border-radius: 50%;
}

.comment-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;

  .comment-author {
    font-weight: 600;
  }

  .comment-content {
    font-style: italic;
    text-align: justify;
    line-height: 1.35;
  }

  .comment-time {
    font-size: 0.8rem;
  }

  .comment-likes {
    font-size: 0.8rem;
  }
}

.like-comment {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    height: 32px;
    border: none;
    animation: pulse 1s infinite ease-in alternate;
  }

  img {
    height: 32px;
    background-color: initial;
    filter: var(--primary-colour-icon);
    cursor: pointer;
  }
}

.comment-form {
  width: 500px;
  justify-self: center;

  h2 {
    text-align: center;
  }
}

fieldset {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 16px;
  align-items: center;
  padding: 1em;
  border-color: var(--secondary-colour);
  border-radius: 8px;

  legend {
    padding: 0 0.5em;
  }

  label {
    cursor: pointer;
  }

  input[type='text'],
  textarea {
    border: 1px solid var(--secondary-colour);
    padding: 0.5em;
    font-size: 1rem;
    border-radius: 8px;
    width: 100%;
  }

  textarea {
    resize: vertical;
  }

  input[type='color'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
  }

  button {
    grid-column: 1/3;
    border: 2px solid var(--secondary-colour);
    padding: 0.5em;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
  }
}

// Theme toggle
.switch {
  position: relative;
  width: 40px;
  height: 25px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--secondary-colour);
  transition: 0.4s;
  border-radius: 34px;

  &::before {
    position: absolute;
    content: '';
    height: 17px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: var(--background-colour);
    transition: 0.4s;
    border-radius: 50%;
  }
}

input:checked + .slider {
  background-color: var(--secondary-colour);
}

input:checked + .slider:before {
  transform: translateX(16px);
}

.error-page {
  text-align: center;
}

#root > .error-page {
  position: absolute;
  text-align: center;
}

/* 
Hover effects
 */

@media (hover: 'hover') {
  footer {
    span {
      display: inline-block;
      background: transparent;

      &:hover {
        transition: all 0.2s ease-in;
        transform: rotate(13deg) scale(1.3);
        color: var(--secondary-colour);
        cursor: default;
      }
    }
  }

  header {
    a {
      &:hover {
        transition: all 0.2s ease-in;
        color: var(--secondary-colour);
      }
    }
  }

  .post-card {
    &:hover {
      transition: all 0.2s ease-in;
      transform: scale(1.02);
      box-shadow: var(--postcard-shadow-dark-theme);
    }
  }

  fieldset {
    button {
      &:hover {
        transition: all 0.2s ease-in;
        background-color: var(--secondary-colour);
        color: var(--background-colour);
      }
    }
  }

  .like-post,
  .like-comment {
    img {
      &:hover {
        filter: var(--secondary-colour-icon);
      }
    }
  }
}

/* 
Mobile media query
*/

@media (width <= 600px) {
  header {
    gap: 8px;

    a {
      text-underline-offset: 0.25em;
      line-height: 1.3;
    }
  }

  .post-wrapper {
    gap: 32px;
  }

  .comments {
    gap: 16px;
    width: 100%;

    .comments-heading {
      margin-bottom: 0.5em;
    }
  }

  .comment {
    gap: 16px;

    .comment-avatar {
      font-size: 1.3rem;
      height: 30px;
      width: 30px;
    }
  }

  .comment-form {
    width: 100%;

    h2 {
      text-align: center;
    }
  }
}
